@page "/about"

<section class="about-hero">
    <div class="about-heading">
        <h1 class="display-name">
            <span class="first">CHU</span>
            <span class="last">HUYNH</span>
            <span class="spark">PHUC</span>
        </h1>

        <p class="subline">
            TPHCM • 0908835337 •
            <a href="mailto:name@email.com" class="email">kizghostbt1993@gmail.com</a>
        </p>
    </div>

    <p class="intro">
        I am experienced in leveraging agile frameworks to provide a robust synopsis for high-level overviews.
        Iterative approaches to corporate strategy foster collaborative thinking to further the overall value
        proposition.
    </p>

</section>
