@page "/awards"

<section>
    <h2 class="section-title">
        <i class="fa-solid fa-trophy text-warning"></i> AWARDS & CERTIFICATIONS
    </h2>

    <ul class="awards-list">
        <li>
            <i class="fa-solid fa-medal text-success"></i>
            <span>Dean’s List – Ho Chi Minh City University of Technology (2022, 2023)</span>
        </li>
        <li>
            <i class="fa-solid fa-certificate text-danger"></i>
            <span>Microsoft Certified: C# & .NET Fundamentals (2023)</span>
        </li>
        <li>
            <i class="fa-solid fa-award text-primary"></i>
            <span>Top 10 – Competitive Programming Contest, HCMUT (2023)</span>
        </li>
        <li>
            <i class="fa-solid fa-certificate text-info"></i>
            <span>Blazor Web Development Certification – Cybersoft Academy (2024)</span>
        </li>
    </ul>
</section>
