@page "/skills"

<section>
    <h2 class="section-title">
        <i class="fa-solid fa-code text-primary"></i> SKILLS
    </h2>

    <ul class="skills-list">
        <li>
            <i class="fa-solid fa-c"></i><span class="ms-2">C++ Programming</span>
            <p class="skill-desc">Strong proficiency in object-oriented programming, STL, and competitive programming practices.</p>
        </li>
        <li>
            <i class="fa-solid fa-code-branch"></i><span class="ms-2">Blazor</span>
            <p class="skill-desc">Building interactive web applications with .NET Blazor, focusing on clean UI and reusable components.</p>
        </li>
        <li>
            <i class="fa-brands fa-microsoft"></i><span class="ms-2">C#</span>
            <p class="skill-desc">Solid knowledge of C# language features, LINQ, and developing enterprise-level applications with .NET.</p>
        </li>
        <li>
            <i class="fa-solid fa-database"></i><span class="ms-2">Data Structures & Algorithms (DSA)</span>
            <p class="skill-desc">Hands-on experience in solving algorithmic problems, optimizing solutions, and applying DSA in software projects.</p>
        </li>
    </ul>
</section>
